@import '/src/main-styles.scss';

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 28px;
    font-family: $family-lato-sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    background: -webkit-linear-gradient(#cea9ec, #9610d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba($color: #4b4750, $alpha: .4);
        padding: 8px 15px;
    
        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                min-width: 300px;
                margin: 40px;
                padding: 25px;

                border-radius: 4px;

                background: rgba(#4b4750, .5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: $family-lato-sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.tasks-container {
    flex-grow: 1;
}

.task {
    font-family: $family-lato-sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    display: flex;
    padding: 15px 12px;
    background: rgba($color: #4b4750, $alpha: .5);
    border-bottom: solid 3px #ddd;

    margin-bottom: 15px;
}

.cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

